.header {
  background-color: #200122;
  color: white;
  height: 7rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0px;
}
.logo {
  cursor: pointer;
  font-size: 15px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  background-color: #240b36;
  height: 4rem;
  text-align: center;
  width: 200px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo:hover {
  background: #fc466b;
}
.logo h1 {
  margin-right: 10px;
}
.logoIMG span {
  max-height: 50px;
}

.buttonContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.buttonMenu {
  background: #fc466b;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: right;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.buttonMenu:hover {
  background: #c31432;
}
.buttonMenu::after {
  transition: 0.2s;
  content: "";
  display: block;
  width: 3rem;
  margin: 5px;
  height: 3px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
}
