.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0px;
}
.loader {
  animation: rotating 1s infinite;
  width: 40px;
  height: 40px;
  border: solid #200122 10px;
  border-top-color: #1212;
  border-radius: 50%;
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}
