.container {
  height: 100vh;
}
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  font-family: monospace;
  font-size: 30px;
  background: #240b36;
  width: 300px;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
